#lista-laboratorios {
    list-style-type: none;
}

#lista-laboratorios li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; /* Adiciona espaçamento interno superior e inferior */
}

#lista-laboratorios .laboratorio-info {
    flex: 1; /* Permite que a sala e o bloco ocupem o máximo de espaço disponível */
    text-align: left; 
}

#lista-laboratorios .disponibilidade {
    margin-left: 20px; 
}

.disponivel {
    color: blue;
}

.indisponivel {
    color: red;
}
